name: Kubernetes Helm Deployments

on:
  pull_request:
    paths:
      - '.github/workflows/k8s-helm-deployments.yaml'
      - 'k8s-helm-deployments/**'
  push:
    branches:
      - main
    paths:
      - '.github/workflows/k8s-helm-deployments.yaml'
      - 'k8s-helm-deployments/**'

jobs:
  k8s-helm-deployments:
    name: Kubernetes Helm Deployments (${{ matrix.environment }}/{{ matrix.region }})
    strategy:
      matrix:
        environment: ["dev", "prod"]
        region: ["eastus", "westus"]
    runs-on: ubuntu-latest
    environment: ${{ matrix.environment }}
    steps:
      - name: Get name of AKS in ${{ matrix.environment }} {{ matrix.region }}
        run: |
          echo ${{ matrix.environment }}
          echo ${{ matrix.region }}
